.first-section-container {
  align-items: center;
  background-color: rgb(46, 46, 66);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.second-section-container {
  align-items: center;
  background-color: rgb(39, 39, 43);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 500px;
}

.card-removeButton-container {
  text-align: center;
}

.card-removeButton-container button {
  margin-top: 10px;
}
